# API
fastapi
uvicorn

# RAG & NLP
sentence-transformers
faiss-cpu
openai

# Data & utils
numpy
pandas
bcrypt
pydantic
jwt
passlib

# File loaders
PyPDF2
python-docx
openpyxl

# Config & env
python-dotenv
