.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-main);
  color: var(--text-main);
}

.content-row {
  flex: 1;
  display: flex;
  min-height: 0;
  transition: padding-left .25s ease;
}

.app-layout.sidebar-open .content-row {
  padding-left: 300px;
}

@media (max-width: 900px) {

  .content-row {
    position: relative;
    padding-left: 0 !important;
  }

  .sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px);
    transform: translateX(-100%);
    transition: transform 0.28s ease;
    z-index: 1001;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
